<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<style>
.bro_txt2 p{font-size:16px; text-align:center; margin:70px 0 10px 0; font-weight:bold;}
.bro_txt2 span{border:2px solid #e0e0e0; padding:15px 20px; display:block; width:310px; margin:0 auto; line-height:24px;}
</style>
<title>club1004</title>
<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>

</head>
<body>
<form name="loginForm" method ="post" >
<div class="main">

<div class="mem_wrap" style="height:25%; id ="ie" >
  	<h3 span class="hidden_logo"><img src="/images/logo.jpg" /></h3>
	<div class="login_box">
      	<h4 style="text-align:center;">같은브라우저로 현재 실행되고있는 Club1004가 있습니다.</h4>
  </div>
</div>
</div>
</form>
</body>
</html>
